# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Corentin's local files
local-assets/
local-documentation/

# Frontend files
frontendstravaintegration/dist
frontendstravaintegration/node_modules
frontendstravaintegration/.idea/
frontendstravaintegration/.vscode/*
frontendstravaintegration/.angular/cache
frontendstravaintegration/!.vscode/settings.json
frontendstravaintegration/!.vscode/tasks.json
frontendstravaintegration/!.vscode/launch.json
frontendstravaintegration/!.vscode/extensions.json
frontendstravaintegration/.history/*

# Backend files
backendstravaintegration/.vscode/*
backendstravaintegration/!.vscode/settings.json
backendstravaintegration/!.vscode/tasks.json
backendstravaintegration/!.vscode/launch.json
backendstravaintegration/!.vscode/extensions.json
backendstravaintegration/.history/*